{% use 'form_div_layout.html.twig' %}

{# Native Widgets #}

{% block form_widget %}
	{%~ if compound %}
		{{~ block('form_widget_compound') }}
	{%~ else %}
		{{~ block('form_widget_simple') }}
	{%~ endif %}
{% endblock form_widget %}

{% block form_widget_simple %}
	{%- set default_type = default_type|default('text') -%}
	{%- set type = type|default(default_type) -%}
	{%~ if type == 'range' or type == 'color' %}
		{#- Attribute "required" is not supported -#}
		{%- set required = false -%}
	{%~ endif %}
{{ form_indent() }}<input type="{{ type }}" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}"{% endif %}>
{%- endblock form_widget_simple %}

{% block form_widget_compound %}
	{%- if form is rootform %}
		{{- form_errors(form) }}
	{%- endif -%}
	{{~ block('form_rows') }}
	{{~ form_rest(form) }}
{% endblock form_widget_compound %}

{% block textarea_widget %}
{{ form_indent() }}<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock textarea_widget %}

{% block collection_widget %}
	{%~ set attr = attr|merge({'class': ('sub-form-container group-members ' ~ row_attr.class|default(''))|trim}) %}
	{%~ if prototype is defined and not prototype.rendered %}
		{%~ set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
	{%~ endif %}
{{ form_indent() }}<div {{ block('widget_container_attributes') }}>
		{%- do form_increment_indent_level() %}
		{%- for child in form|filter(child => not child.rendered) %}
			{{~ form_row(child) }}
		{%- endfor %}
		{{- form_rest(form) }}
		{%- if add_button_position == 'inside' ~%}
{{ form_indent() }}{{ block('collection_add_button') }}
		{%- endif -%}
		{%- do form_decrement_indent_level() ~%}
{{ form_indent() }}</div>
{%- endblock collection_widget %}

{% block choice_widget %}
	{%- if expanded %}
		{{~ block('choice_widget_expanded') }}
	{%- else %}
		{{~ block('choice_widget_collapsed') }}
	{%- endif %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
	{%- if expanded_wrapping_strategy == 'wrap_all' %}
{{ form_indent() }}<div class="expanded choices">
		{%~ do form_increment_indent_level() %}
			{%- for child in form %}
				{{- form_widget(child) }}
				{{~ form_label(child, null, {translation_domain: choice_translation_domain}) }}
			{%- endfor %}
		{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%~ elseif expanded_wrapping_strategy == 'wrap_each' %}
		{%- for child in form %}
{{ form_indent() }}<div class="{{ expanded_choice_container_classes(value, child.vars.value) }}">
			{%~ do form_increment_indent_level() %}
				{{- form_widget(child) }}
				{{~ form_label(child, null, {translation_domain: choice_translation_domain}) }}
			{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
		{%~ endfor %}
	{%- else %}
		{%- for child in form %}
			{{- form_widget(child) }}
			{{~ form_label(child, null, {translation_domain: choice_translation_domain}) }}
		{%- endfor %}
	{%- endif %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
	{%~ if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) %}
		{%~ set required = false %}
	{%~ endif %}
{{ form_indent() }}<select {{ block('widget_attributes') }}{% if multiple %} multiple{% endif %}>
		{%- do form_increment_indent_level() %}
		{%- if placeholder is not none ~%}
{{ form_indent() }}<option value=""{% if required and value is empty %} selected{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans(placeholder_translation_parameters, translation_domain)) }}</option>
		{%- endif %}
		{%~ if preferred_choices|length > 0 %}
			{%~ set options = preferred_choices %}
			{%~ set render_preferred_choices = true %}
			{{~ block('choice_widget_options') }}
			{%- if choices|length > 0 and separator is not none %}
{{ form_indent() }}<option disabled>{{ separator }}</option>
			{%- endif %}
		{%~ endif %}
		{%~ set options = choices %}
		{%~ set render_preferred_choices = false %}
		{{~ block('choice_widget_options') }}
		{%- do form_decrement_indent_level() ~%}
{{ form_indent() }}</select>
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
	{%- for group_label, choice in options -%}
		{%- if choice is iterable ~%}
{{ form_indent() }}<optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
			{%- do form_increment_indent_level() %}
				{%~ set options = choice %}
				{{~ block('choice_widget_options') }}
			{%- do form_decrement_indent_level() ~%}
{{ form_indent() }}</optgroup>
		{%- else %}
			{%~ set option_label = choice_translation_domain is same as(false) ? choice.label : choice.label|trans(choice.labelTranslationParameters, choice_translation_domain) ~%}
{{ form_indent() }}<option value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ option_label }}</option>
		{%- endif %}
	{%- endfor -%}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
{{ form_indent() }}<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
{%- endblock checkbox_widget %}

{% block radio_widget %}
{{ form_indent() }}<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
{%- endblock radio_widget %}

{% block date_widget %}
	{%- if widget == 'single_text' %}
		{{~ block('form_widget_simple') }}
	{%~ else %}
{{ form_indent() }}<div {{ block('widget_container_attributes') }}>
		{%- do form_increment_indent_level() %}
		{{~ date_pattern|replace({
			'{{ year }}':  form_widget(form.year),
			'{{ month }}': form_widget(form.month),
			'{{ day }}':   form_widget(form.day),
		})|raw }}
		{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%- endif %}
{%- endblock date_widget %}

{% block datetime_widget %}
	{%- if widget == 'single_text' %}
		{{~ block('form_widget_simple') }}
	{%~ else %}
{{ form_indent() }}<div {{ block('widget_container_attributes') }}>
		{%- do form_increment_indent_level() %}
			{{~ form_widget(form.date) }}
			{{~ form_errors(form.date) }}
			{{~ form_widget(form.time) }}
			{{~ form_errors(form.time) }}
		{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%- endif %}
{%- endblock datetime_widget %}

{% block dateinterval_widget %}
    {%- if widget == 'single_text' %}
        {{~ block('form_widget_simple') }}
    {%- else %}
        {{~ block('dateinterval_widget_multi')|indent_lines(form_current_indent_level())|raw }}
    {%- endif %}
{%- endblock dateinterval_widget %}

{% block dateinterval_widget_multi %}
<div {{ block('widget_container_attributes') }}>
	{%- do form_increment_indent_level() %}
	<table class="{{ table_class|default('') }}" role="presentation">
		<thead>
			<tr>
			{%~ if with_years %}
				<th>{{ form_label(form.years)|trim|raw }}</th>
			{%~ endif %}
			{%~ if with_months %}
				<th>{{ form_label(form.months)|trim|raw }}</th>
			{%~ endif %}
			{%~ if with_weeks %}
				<th>{{ form_label(form.weeks)|trim|raw }}</th>
			{%~ endif %}
			{%~ if with_days %}
				<th>{{ form_label(form.days)|trim|raw }}</th>
			{%~ endif %}
			{%~ if with_hours %}
				<th>{{ form_label(form.hours)|trim|raw }}</th>
			{%~ endif %}
			{%~ if with_minutes %}
				<th>{{ form_label(form.minutes)|trim|raw }}</th>
			{%~ endif %}
			{%~ if with_seconds %}
				<th>{{ form_label(form.seconds)|trim|raw }}</th>
			{%~ endif %}
			</tr>
		</thead>
		<tbody>
			<tr>
			{%~ if with_years %}
				<td>
				{{~ form_widget(form.years)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			{%~ if with_months %}
				<td>
				{{~ form_widget(form.months)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			{%~ if with_weeks %}
				<td>
				{{~ form_widget(form.weeks)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			{%~ if with_days %}
				<td>
				{{~ form_widget(form.days)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			{%~ if with_hours %}
				<td>
				{{~ form_widget(form.hours)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			{%~ if with_minutes %}
				<td>
				{{~ form_widget(form.minutes)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			{%~ if with_seconds %}
				<td>
				{{~ form_widget(form.seconds)|trim_trailing_newlines }}
				</td>
			{%~ endif %}
			</tr>
		</tbody>
	</table>
    {%~ if with_invert %}
		{{- form_widget(form.invert) }}
	{%- endif %}
	{%- do form_decrement_indent_level() %}
</div>
{% endblock dateinterval_widget_multi %}

{% block time_widget %}
	{%- if widget == 'single_text' %}
		{{~ block('form_widget_simple') }}
	{%~ else %}
		{%~ set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
{{ form_indent() }}<div {{ block('widget_container_attributes') }}>
		{%- do form_increment_indent_level() %}
			{{~ form_widget(form.hour, vars) }}
			{%~ if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}
			{%~ if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
		{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%- endif %}
{%- endblock time_widget %}

{% block week_widget %}
	{%- if widget == 'single_text' %}
		{{~ block('form_widget_simple') }}
	{%~ else %}
		{%~ set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
{{ form_indent() }}<div {{ block('widget_container_attributes') }}>
		{%- do form_increment_indent_level() %}
			{{~ form_widget(form.year, vars) }}-{{ form_widget(form.week, vars) }}
		{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%- endif %}
{%- endblock week_widget %}

{% block number_widget %}
	{{~ block('form_widget_simple') }}
{% endblock number_widget %}

{% block integer_widget %}
	{%~ set default_type = 'number' %}
	{{~ block('form_widget_simple') }}
{% endblock integer_widget %}

{% block money_widget %}
	{%~ if symbol is not empty %}
{{ form_indent() }}<div class="faux-number-widget with-type-symbol">
		{%~ do form_increment_indent_level() %}
		{%~ if symbol_placement == 'before' %}
{{ form_indent() }}<span class="input-type-symbol before">{{ symbol }}</span>
		{%~ endif %}
		{{~ block('form_widget_simple') }}
		{%~ if symbol_placement == 'after' %}
{{ form_indent() }}<span class="input-type-symbol after">{{ symbol }}</span>
		{%~ endif %}
		{%~ do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%~ else %}
		{{~ block('form_widget_simple') }}
	{%~ endif %}
{% endblock money_widget %}

{% block url_widget %}
	{%~ set default_type = 'url' %}
	{{~ block('form_widget_simple') }}
{% endblock url_widget %}

{% block search_widget %}
	{%~ set default_type = 'search' %}
	{{~ block('form_widget_simple') }}
{% endblock search_widget %}

{% block percent_widget %}
	{%~ if symbol is not empty %}
{{ form_indent() }}<div class="faux-number-widget with-type-symbol">
		{%~ do form_increment_indent_level() %}
			{{~ block('form_widget_simple') }}
{{ form_indent() }}<span class="input-type-symbol after">{{ symbol }}</span>
		{%~ do form_decrement_indent_level() %}
{{ form_indent() }}</div>
	{%~ else %}
		{{~ block('form_widget_simple') }}
	{%~ endif %}
{% endblock percent_widget %}

{% block password_widget %}
	{%~ set default_type = 'password' %}
	{{~ block('form_widget_simple') }}
{% endblock password_widget %}

{% block hidden_widget %}
	{%~ set default_type = 'hidden' %}
	{{~ block('form_widget_simple') }}
{% endblock hidden_widget %}

{% block email_widget %}
	{%~ set default_type = 'email' %}
	{{~ block('form_widget_simple') }}
{% endblock email_widget %}

{% block range_widget %}
	{%~ set default_type = 'range' %}
	{{~ block('form_widget_simple') }}
{% endblock range_widget %}

{% block tel_widget %}
	{%~ set default_type = 'tel' %}
	{{~ block('form_widget_simple') }}
{% endblock tel_widget %}

{% block color_widget %}
	{%~ set default_type = 'color' %}
	{{~ block('form_widget_simple') }}
{% endblock color_widget %}

{% block button_widget %}
	{%- set default_type = default_type|default('button') -%}
	{%~ if label is empty %}
		{%- if label_format is not empty -%}
			{% set label = label_format|replace({
				'%name%': name,
				'%id%': id,
			}) %}
		{%- elseif label is same as(false) -%}
			{% set translation_domain = false %}
		{%- else -%}
			{% set label = name|humanize %}
		{%- endif -%}
	{%~ endif %}
{{ form_indent() }}<button type="{{ type|default(default_type) }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</button>
{%- endblock button_widget %}

{% block submit_widget %}
	{%- set default_type = 'submit' -%}
	{{~ block('button_widget') }}
{% endblock submit_widget %}

{% block reset_widget %}
	{%- set default_type = 'reset' -%}
	{{~ block('button_widget') }}
{% endblock reset_widget %}


{# Custom Widgets #}

{% block toggle_switch_widget %}
{{ form_indent() }}<button type="button" class="stylable-widget toggle-switch-widget{% if checked %} enabled{% endif %}" role="presentation"></button>
{{ block('checkbox_widget') }}
{% endblock toggle_switch_widget %}

{% block toggle_switch_with_settings_widget %}
{{ block('toggle_switch_widget') }}
{{ form_indent() }}<button type="button" aria-haspopup="dialog"{% with { attr: button_attr } %}{{ block('attributes') }}{% endwith %}>{{ button_label|trans(attr_translation_parameters, translation_domain) }}</button>
{% endblock toggle_switch_with_settings_widget %}

{% block info_widget %}
{% set attr = form_attr_html_classes(attr, ['info-widget']) %}
{# This field type has no widget, per se, so simply using "attributes" here #}
{{ form_indent() }}<{{ value_label_element }} id="{{ id }}"{{ block('attributes') }}{% if value is defined and value is not empty %} data-value="{{ value|e('html_attr') }}"{% endif %}>{% if value_label_has_html %}{{ value_label|raw }}{% else %}{{ value_label }}{% endif %}</{{ value_label_element }}>
{% endblock info_widget %}

{% block action_widget %}
{% set attr = form_attr_html_classes(attr, ['action']) %}
{{ form_indent() }}<button type="button" {{ block('button_attributes') }}>{{ button_label|trans(attr_translation_parameters, translation_domain) }}</button>
{% endblock action_widget %}

{% block modal_editor_widget %}
{% set attr = form_attr_html_classes(attr, ['action']) %}
{# The hidden input is technically the actual field widget, so the "button_attributes" block cannot be used here #}
{{ form_indent() }}<button type="button" id="{{ id }}"{{ block('attributes') }}{% if disabled %} disabled{% endif %}>{{ button_label|trans(attr_translation_parameters, translation_domain) }}</button>
{{ form_indent() }}{{ block('form_widget_hidden') }}
{% endblock modal_editor_widget %}

{% block modal_select_widget %}
{% if use_separate_value_label %}
{{ form_indent() }}<span class="value-label"{% if value_label_default is defined %} data-default="{{ value_label_default }}"{% endif %}>{{ value_label }}</span>
{% endif %}
{% set attr = form_attr_html_classes(attr, ['action']) %}
{# The hidden input is technically the actual field widget, so the "button_attributes" block cannot be used here #}
{{ form_indent() }}<button type="button" id="{{ id }}"{{ block('attributes') }}{% if disabled %} disabled{% endif %}>{{ use_separate_value_label ? button_label|trans(attr_translation_parameters, translation_domain) : button_text }}</button>
{{ form_indent() }}{{ block('form_widget_hidden') }}
{% endblock modal_select_widget %}

{% block include_widget %}
{{ include(template, template_context) }}
{% endblock include_widget %}

{% block divider_widget %}
{{ form_indent() }}<hr{{ block('attributes') }}>
{% endblock divider_widget %}

{# Labels #}

{% block form_label %}
	{%- if label is not same as(false) %}
		{%~ if not compound %}
			{%~ set label_attr = label_attr|merge({'for': id}) %}
		{%~ endif %}
{{ form_indent() }}<{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
			{{- block('form_label_content') -}}
		</{{ element|default('label') }}>
	{%~ endif %}
{% endblock form_label %}

{% block fieldset_label %}
	{%- if label is not same as(false) ~%}
{{ form_indent() }}<legend{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
			{{- block('form_label_content') -}}
		</legend>
	{%- endif %}
{% endblock fieldset_label %}

{# Help #}

{% block form_help %}
	{%- if help is not empty -%}
		{%~ set help_attr = help_attr|merge({class: ('help-text ' ~ help_attr.class|default(''))|trim}) %}
		{%~ if help_html and help_markdown_lines is same as('full_multi_line') %}
{{ form_indent() }}<div id="{{ id }}-help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
			{%- do form_increment_indent_level() %}
			{%~ if translation_domain is same as(false) %}
				{{~ help|markdown|indent_lines(form_current_indent_level()) }}
			{%~ else %}
				{{~ help|trans(help_translation_parameters, translation_domain)|markdown|indent_lines(form_current_indent_level()) }}
			{%~ endif %}
			{%- do form_decrement_indent_level() %}
{{ form_indent() }}</div>
		{%~ else %}
			{%~ set enable_line_breaks = help_markdown_lines is same as('line_breaks_only') %}
{{ form_indent() }}<p id="{{ id }}-help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
			{%- do form_increment_indent_level() %}
			{%~ if translation_domain is same as(false) %}
				{%~ if help_html ~%}
					{{~ help|markdown_line_only(enable_line_breaks)|indent_lines(form_current_indent_level()) }}
				{%~ else ~%}
					{{~ help|indent_lines(form_current_indent_level()) }}
				{%~ endif %}
			{%~ else %}
				{%~ if help_html ~%}
					{{~ help|trans(help_translation_parameters, translation_domain)|markdown_line_only(enable_line_breaks)|trim_trailing_newlines|indent_lines(form_current_indent_level()) }}
				{%~ else ~%}
					{{~ help|trans(help_translation_parameters, translation_domain)|indent_lines(form_current_indent_level()) }}
				{%~ endif %}
			{%~ endif %}
			{%- do form_decrement_indent_level() %}
{{ form_indent() }}</p>
		{%~ endif %}
	{%- endif -%}
{%- endblock form_help %}

{# Rows #}

{% block form_row %}
	{%- set widget_vars = {} -%}
	{%- if help is not empty -%}
		{%- set widget_vars = {attr: {'aria-describedby': id ~"-help"}} -%}
	{%- endif -%}
	{%- set addl_classes = [] -%}
	{%- if ('money' in block_prefixes or 'percent' in block_prefixes) and form.vars.symbol is not empty -%}
		{%- set addl_classes = ['with-type-symbol'] -%}
	{%- endif -%}
	{%~ set indent = form_indent(form) %}
	{%~ set row_attr = form_attr_html_classes(row_attr, ['form-field'], addl_classes) %}
{{ indent }}<div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
	{%~ do form_increment_indent_level() %}
		{{- form_label(form) }}
		{{- form_widget(form, widget_vars) }}
		{{- form_errors(form) }}
		{{- form_help(form) }}
	{%- do form_decrement_indent_level() %}
{{ indent }}</div>
{% endblock form_row %}

{% block collection_entry_row %}
	{%- if form|length > 0 %}
		{%~ set indent = form_indent(form) %}
		{%~ set attr = form_attr_html_classes(attr, ['sub-form', 'group-member']) ~%}
{{ indent }}<div {{ block('widget_container_attributes') }}>
		{%- do form_increment_indent_level() %}
			{{- form_errors(form) }}
			{{~ block('form_rows') }}
		{%- do form_decrement_indent_level() %}
{{ indent }}</div>
	{%- else ~%}
		{{~ form_row(form)|trim_trailing_newlines }}
	{%- endif %}
{% endblock collection_entry_row %}

{% block collection_row %}
	{%- set widget_vars = {} -%}
	{%- if help is not empty -%}
		{%- set widget_vars = {attr: {'aria-describedby': id ~"-help"}} -%}
	{%- endif -%}
	{%~ set indent = form_indent(form) %}
	{%~ set row_attr = form_attr_html_classes(row_attr, ['form-group']) %}
{{ indent }}<div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
	{%~ do form_increment_indent_level() %}
		{{- form_label(form) }}
		{%- if help_text_position == 'before' %}
			{{- form_help(form) }}
		{%- endif %}
		{%- if add_button_position == 'before' %}
{{ indent }}{{ form_indent_prototype|raw }}{{ block('collection_add_button') }}
		{%~ endif %}
			{{- form_widget(form, widget_vars) }}
			{{- form_errors(form) }}
		{%- if add_button_position == 'after' ~%}
{{ indent }}{{ form_indent_prototype|raw }}{{ block('collection_add_button') }}
		{%- endif %}
		{%- if help_text_position == 'after' %}
			{{- form_help(form) }}
		{%- endif %}
	{%- do form_decrement_indent_level() ~%}
{{ indent }}</div>
{% endblock collection_row %}

{% block fieldset_row %}
	{%~ set indent = form_indent(form) %}
{{ indent }}<fieldset{% with {attr: row_attr|default({})} %}{{ block('attributes') }}{% endwith %}>
	{%- do form_increment_indent_level() %}
		{{- form_label(form) }}
		{%~ if help_text_position == 'before' %}
			{{- form_help(form) }}
		{%- endif %}
		{{~ block('form_rows') }}
		{%- if help_text_position == 'after' %}
			{{- form_help(form) }}
		{%- endif %}
	{%- do form_decrement_indent_level() %}
{{ indent }}</fieldset>
{% endblock fieldset_row %}

{% block checkbox_row %}
	{%- set widget_vars = {} -%}
	{%- if help is not empty -%}
		{%- set widget_vars = {attr: {'aria-describedby': id ~"-help"}} -%}
	{%- endif -%}
	{%- set addl_classes = [] -%}
	{%- if label_after_widget -%}
		{%- set addl_classes = ['label-after'] -%}
	{%- endif -%}
	{%~ set indent = form_indent(form) %}
	{%~ set row_attr = form_attr_html_classes(row_attr, ['form-field'], addl_classes) %}
{{ indent }}<div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
	{%- do form_increment_indent_level() %}
		{%- if label_after_widget ~%}
			{{~ form_widget(form, widget_vars) }}
			{{~ form_label(form) }}
		{%- else ~%}
			{{~ form_label(form) }}
			{{- form_widget(form, widget_vars) }}
		{%~ endif %}
		{{- form_errors(form) }}
		{{- form_help(form) }}
	{%- do form_decrement_indent_level() %}
{{ indent }}</div>
{% endblock checkbox_row %}

{% block button_row %}
	{%~ set indent = form_indent(form) %}
	{%~ set row_attr = row_attr|merge({'class': ('form-action ' ~ row_attr.class|default(''))|trim}) %}
{{ indent }}<div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
	{%~ do form_increment_indent_level() %}
		{{- form_widget(form) }}
	{%~ do form_decrement_indent_level() %}
{{ indent }}</div>
{% endblock button_row %}

{% block hidden_row %}
	{{- form_widget(form) -}}
{% endblock hidden_row %}

{% block csrf_token_row %}
	{{- form_widget(form)|trim_trailing_newlines -}}
{% endblock csrf_token_row %}

{% block divider_row %}
	{{- form_widget(form) -}}
{% endblock divider_row %}

{# Misc #}

{% block form %}
	{{~ form_start(form) }}
		{{~ form_widget(form) }}
	{{~ form_end(form) }}
{%- endblock form %}

{% block form_start %}
	{%~ do form.setMethodRendered() %}
	{%~ set method = method|upper %}
	{%~ if method in ["GET", "POST"] %}
		{%~ set form_method = method %}
	{%~ else %}
		{%~ set form_method = "POST" %}
	{%~ endif %}
	{%~ set indent = form_indent(form) %}
{{ indent }}<form{% if id != '' %} id="{{ id }}"{% endif %}{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %}>
	{%- if form_method != method %}
{{ indent }}{{ form_indent_prototype|raw }}<input type="hidden" name="_method" value="{{ method }}">
	{%- endif %}
	{%~ do form_increment_indent_level() %}
{% endblock form_start %}

{% block form_end %}
	{%- if not render_rest is defined or render_rest %}
		{{~ form_rest(form) }}
	{%- endif %}
	{%- do form_decrement_indent_level() %}
{{ form_indent() }}</form>
{%- endblock form_end %}

{% block form_rest %}
	{%- for child in form -%}
		{%- if not child.rendered %}
			{{~ form_row(child) }}
		{%- endif %}
	{%- endfor -%}
	{%- if not form.methodRendered and form is rootform -%}
		{%~ do form.setMethodRendered() %}
		{%~ set method = method|upper %}
		{%~ if method in ["GET", "POST"] %}
			{%~ set form_method = method %}
		{%~ else %}
			{%~ set form_method = "POST" %}
		{%~ endif %}
		{%- if form_method != method %}
{{ form_indent() }}<input type="hidden" name="_method" value="{{ method }}">
		{%- endif -%}
	{%- endif -%}
{% endblock form_rest %}

{%- block form_errors -%}
	{%- if errors|length > 0 %}
{{ form_indent() }}<ul class="error-list">
		{%- for error in errors %}
{{ form_indent() }}{{ form_indent_prototype|raw }}<li class="error">{{ error.message }}</li>
		{%- endfor %}
{{ form_indent() }}</ul>
	{%~ endif -%}
{%- endblock form_errors -%}

{# Support #}

{% block form_rows %}
	{%- for child in form|filter(child => not child.rendered) %}
		{{~ form_row(child) }}
	{%- endfor %}
{% endblock form_rows %}

{%- block form_widget_hidden -%}
<input type="hidden" class="form-widget-actual" name="{{ full_name }}"{% if value is not empty %} value="{{ value }}"{% endif %}>
{%- endblock form_widget_hidden -%}

{%- block collection_add_button -%}
	<button type="button" class="action {{ add_button_class }}"
	{%- if add_button_opens_dialog -%}
	aria-haspopup="dialog"
	{%- endif -%}
	>{{ add_button_label|trans }}</button>
{%- endblock collection_add_button -%}

{% block attributes -%}
	{%- if translate_attributes -%}
		{%- set translate_attributes = translation_domain is not same as(false) -%}
	{%- endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ not translate_attributes or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
		{%- elseif attrvalue is same as(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not same as(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock attributes -%}
